<p-chart class="chart" type="horizontalBar" [data]="charts.features" [options]="chartOptions.features" [width]="chartWidth" [height]="chartHeight">Loading...</p-chart>
<p-chart class="chart" type="horizontalBar" [data]="charts.speed"    [options]="chartOptions.speed"    [width]="chartWidth" [height]="chartHeight">Loading...</p-chart>
<p-chart class="chart" type="horizontalBar" [data]="charts.handling" [options]="chartOptions.handling" [width]="chartWidth" [height]="chartHeight">Loading...</p-chart>


<mat-tab-group>

  <mat-tab label="Kart">
  </mat-tab>

  <mat-tab label="Filters">
      <div class="center">
        <app-filter-size></app-filter-size>
      </div>
  </mat-tab>
  
  <mat-tab label="Drivers">
    <app-feature-list
      [data]="featuresList.ofDrivers"
      [selectedItemName]="selectedItemName.Driver"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Body">
    <app-feature-list
      [data]="featuresList.ofBodies"
      [selectedItemName]="selectedItemName.Body"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Tires">
    <app-feature-list
      [data]="featuresList.ofTires"
      [selectedItemName]="selectedItemName.Tires"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Glider">
    <app-feature-list
      [data]="featuresList.ofGliders"
      [selectedItemName]="selectedItemName.Glider"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
</mat-tab-group>
