<h2>Advanced kart builder</h2>
<mat-tab-group>

  <mat-tab label="Kart">
      <app-kart-tabular [kart]="kart"></app-kart-tabular>
      <app-kart [kart]="[kart.driver, kart.body, kart.tires, kart.glider]"></app-kart>
  </mat-tab>
  
  <mat-tab label="Drivers">
    <app-feature-list
      [data]="featuresList.ofDrivers"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Body">
    <app-feature-list
      [data]="featuresList.ofBodies"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Tires">
    <app-feature-list
      [data]="featuresList.ofTires"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Glider">
    <app-feature-list
      [data]="featuresList.ofGliders"
      (newSelection)="onFeatureChange($event)"></app-feature-list>
  </mat-tab>
  
</mat-tab-group>
