<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">type</th>
      <th scope="col">Size</th>
      <th scope="col">Speed</th>
      <th scope="col">Acceleration</th>
      <th scope="col">Weight</th>
      <th scope="col">handling</th>
      <th scope="col">Grid</th>
      <th scope="col">Mini turbo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ feature.id }}</th>
      <td>
        <img [src]="feature.image.url" class="mr-2" style="width: 20px">
        {{ feature.name }}
      </td>
      <td>{{ feature.type }}</td>
      <td>{{ feature.size ? feature.size : notAvailable }}</td>
      <td>{{ feature.speed.level }}</td>
      <td>{{ feature.acceleration }}</td>
      <td>{{ feature.weight }}</td>
      <td>{{ feature.handling.getLevel() }}</td>
      <td>{{ feature.grid }}</td>
      <td>{{ feature.miniTurbo }}</td>
    </tr>
  </tbody>
</table>
