<table id="kart" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Feature</th>
            <th scope="col">Value</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let feature of dataTable">
            <th>{{ feature.key }}</th>
            <td>{{ feature.value }}</td>
            <td>
                <!-- <mkh-spec-bar [score]="feature.value" [maxScore]="feature.maxValue"></mkh-spec-bar> -->
                <p>
                    <ngb-progressbar
                        [type]="getProgressbarStyle(feature)"
                        [showValue]="true"
                        [value]="feature.rate"
                        [striped]="true"
                    ></ngb-progressbar>
                </p>
            </td>
        </tr>
    </tbody>
</table>
