<mat-list role="list">
  <app-feature-path   name="Speed" description="average" [path]="element.speed"></app-feature-path>
  <app-feature-slider name="Acceleration" [value]="element.acceleration.toFixed(0)"></app-feature-slider>
  <app-feature-slider name="Weight" [value]="element.weight.toFixed(0)"></app-feature-slider>
  <app-feature-path   name="Handling" description="average" [path]="element.handling"></app-feature-path>
  <app-feature-slider name="Grid" [value]="element.grid.toFixed(0)"></app-feature-slider>
  <app-feature-slider name="Mini-Turbo" [value]="element.miniTurbo.toFixed(0)"></app-feature-slider>
</mat-list>
