<app-kart-statistics-stats [element]="element"></app-kart-statistics-stats>
<app-kart-element [type]="_kart.driver.type" (featureChange)="onFeatureChange($event)"></app-kart-element>
<app-kart-element [type]="_kart.body.type" (featureChange)="onFeatureChange($event)"></app-kart-element>
<app-kart-element [type]="_kart.tires.type" (featureChange)="onFeatureChange($event)"></app-kart-element>
<app-kart-element [type]="_kart.glider.type" (featureChange)="onFeatureChange($event)"></app-kart-element>
