<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title>
          <app-kart-statistics-slider [name]="name" [value]="_avg.path(path).toFixed(0)"></app-kart-statistics-slider>
      </mat-panel-title>

      <mat-panel-description>{{ description }}</mat-panel-description>
    </mat-expansion-panel-header>

    
    <app-kart-statistics-slider name="Ground" [value]="path.ground"></app-kart-statistics-slider>
    <app-kart-statistics-slider name="Water" [value]="path.water"></app-kart-statistics-slider>
    <app-kart-statistics-slider name="Air" [value]="path.air"></app-kart-statistics-slider>
    <app-kart-statistics-slider name="Anti-gravity" [value]="path.antiGravity"></app-kart-statistics-slider>

  </mat-expansion-panel>
</mat-accordion>
