<mat-list role="list">
  <app-kart-statistics-slider name="Average speed (FIX)" value="0"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Acceleration" [value]="element.acceleration"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Weight" [value]="element.weight"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Average handling (FIX)" value="0"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Grid" [value]="element.grid"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Mini-Turbo" [value]="element.miniTurbo"></app-kart-statistics-slider>
</mat-list>
