<mat-list role="list">
  <app-path name="Speed" description="average" [path]="element.speed"></app-path>
  <app-kart-statistics-slider name="Acceleration" [value]="element.acceleration.toFixed(0)"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Weight" [value]="element.weight.toFixed(0)"></app-kart-statistics-slider>
  <app-path name="Handling" description="average" [path]="element.handling"></app-path>
  <app-kart-statistics-slider name="Grid" [value]="element.grid.toFixed(0)"></app-kart-statistics-slider>
  <app-kart-statistics-slider name="Mini-Turbo" [value]="element.miniTurbo.toFixed(0)"></app-kart-statistics-slider>
</mat-list>
