<div class="mat-elevation-z8">

  <mat-radio-group>
    <table mat-table [dataSource]="dataSource"
      matSort matSortActive="totalPoints" matSortDisableClear matSortDirection="asc">
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>
      <tr mat-footer-row *matFooterRowDef="['Average']" class="example-second-footer-row"></tr>
      
      <!-- Average column -->
      <ng-container matColumnDef="Average">
        <td mat-footer-cell *matFooterCellDef>XXX {{avg.speed(kart)}}</td>
        <td mat-footer-cell *matFooterCellDef>speed {{avg.speed(kart)}}</td>
      </ng-container>
        
      <!-- Choice Column -->
      <ng-container matColumnDef="choice">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let feature">
          <mat-radio-button
            [value]="feature.name"
            (change)="onChoiceChange($event)"
            *ngIf="areChoosable == true"></mat-radio-button>
        </td>
        <th mat-footer-cell *matFooterCellDef>TP / Avg</th>
        <th mat-footer-cell *matFooterCellDef>Avg</th>
      </ng-container>

      <!-- Speed Column -->
      <ng-container matColumnDef="speed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Spd </th>
        <td mat-cell *matCellDef="let feature">{{feature.speed}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.speed(kart)}} / {{avg.speed(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.speed(kart)}}</th>
      </ng-container>
  
      <!-- Speed Ground Column -->
      <ng-container matColumnDef="speedGround">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>terrain</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.speedGround}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.speedGround(kart)}} / {{avg.speedGround(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.speedGround(kart)}}</th>
      </ng-container>
  
      <!-- Speed Water Column -->
      <ng-container matColumnDef="speedWater">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>waves</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.speedWater}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.speedWater(kart)}} / {{avg.speedWater(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.speedWater(kart)}}</th>
      </ng-container>
  
      <!-- Speed Air Column -->
      <ng-container matColumnDef="speedAir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>airplanemode_active</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.speedAir}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.speedAir(kart)}} / {{avg.speedAir(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.speedAir(kart)}}</th>
      </ng-container>
  
      <!-- Speed Anti-Gravity Column -->
      <ng-container matColumnDef="speedAntiGravity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>language</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.speedAntiGravity}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.speedAntiGravity(kart)}} / {{avg.speedAntiGravity(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.speedAntiGravity(kart)}}</th>
      </ng-container>
        
      <!-- Handling Column -->
      <ng-container matColumnDef="handling">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hnd </th>
        <td mat-cell *matCellDef="let feature">{{feature.handling}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.handling(kart)}} / {{avg.handling(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.handling(kart)}}</th>
      </ng-container>
  
      <!-- Handling Ground Column -->
      <ng-container matColumnDef="handlingGround">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>terrain</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.handlingGround}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.handlingGround(kart)}} / {{avg.handlingGround(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.handlingGround(kart)}}</th>
      </ng-container>
  
      <!-- Handling Water Column -->
      <ng-container matColumnDef="handlingWater">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>waves</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.handlingWater}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.handlingWater(kart)}} / {{avg.handlingWater(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.handlingWater(kart)}}</th>
      </ng-container>
  
      <!-- Handling Air Column -->
      <ng-container matColumnDef="handlingAir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>airplanemode_active</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.handlingAir}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.handlingAir(kart)}} / {{avg.handlingAir(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.handlingAir(kart)}}</th>
      </ng-container>
  
      <!-- Handling Anti-Gravity Column -->
      <ng-container matColumnDef="handlingAntiGravity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>language</mat-icon>
        </th>
        <td mat-cell *matCellDef="let feature">{{feature.handlingAntiGravity}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.handlingAntiGravity(kart)}} / {{avg.handlingAntiGravity(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.handlingAntiGravity(kart)}}</th>
      </ng-container>
  
      <!-- MiniTurbo Column -->
      <ng-container matColumnDef="miniTurbo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MT </th>
        <td mat-cell *matCellDef="let feature"> {{feature.miniTurbo}} </td>
        <th mat-footer-cell *matFooterCellDef>{{points.miniTurbo(kart)}} / {{avg.miniTurbo(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.miniTurbo(kart)}}</th>
      </ng-container>
  
      <!-- Grid Column -->
      <ng-container matColumnDef="grid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Grd </th>
        <td mat-cell *matCellDef="let feature"> {{feature.grid}} </td>
        <th mat-footer-cell *matFooterCellDef>{{points.grid(kart)}} / {{avg.grid(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.grid(kart)}}</th>
      </ng-container>
        
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Img </th>
        <td mat-cell *matCellDef="let feature">
          <img [src]="feature.image" [alt]="feature.name" [title]="feature.name">
        </td>
        <th mat-footer-cell *matFooterCellDef></th>
        <th mat-footer-cell *matFooterCellDef></th>
      </ng-container>
  
      <!-- Acceleration Column -->
      <ng-container matColumnDef="acceleration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acc</th>
        <td mat-cell *matCellDef="let feature">{{feature.acceleration}}</td>
        <th mat-footer-cell *matFooterCellDef>{{points.acceleration(kart)}} / {{avg.acceleration(kart)}}</th>
        <th mat-footer-cell *matFooterCellDef>{{avg.acceleration(kart)}}</th>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Wgt</th>
        <td mat-cell *matCellDef="let feature">{{feature.weight}}</td>
        <td mat-footer-cell *matFooterCellDef>{{points.weight(kart)}} / {{avg.weight(kart)}}</td>
        <td mat-footer-cell *matFooterCellDef>{{avg.weight(kart)}}</td>
      </ng-container>
  
      <!-- Total points Column -->
      <ng-container matColumnDef="totalPoints">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TP</th>
        <td mat-cell *matCellDef="let feature">{{feature.totalPoints}}</td>
        <th mat-footer-cell *matFooterCellDef></th>
        <th mat-footer-cell *matFooterCellDef></th>
      </ng-container>
  
    </table>
  </mat-radio-group>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>

</div>
