<mat-radio-group>
  <table mat-table [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    <!-- Feature Column -->
    <ng-container matColumnDef="feature">
      <th mat-header-cell *matHeaderCellDef>Feature</th>
      <td mat-cell *matCellDef="let feature"><strong>{{feature.feature}}</strong></td>
    </ng-container>
      
    <!-- Average Column -->
    <ng-container matColumnDef="average">
      <th mat-header-cell *matHeaderCellDef>Average</th>
      <td mat-cell *matCellDef="let feature">{{feature.average}}</td>
    </ng-container>
      
    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let feature">{{feature.level}}</td>
    </ng-container>
      
    <!-- Driver Column -->
    <ng-container matColumnDef="driver">
      <th mat-header-cell *matHeaderCellDef>Driver</th>
      <td mat-cell *matCellDef="let feature">{{feature.driver}}</td>
    </ng-container>
      
    <!-- Body Column -->
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell *matCellDef="let feature">{{feature.body}}</td>
    </ng-container>
      
    <!-- Tires Column -->
    <ng-container matColumnDef="tires">
      <th mat-header-cell *matHeaderCellDef>Tires</th>
      <td mat-cell *matCellDef="let feature">{{feature.tires}}</td>
    </ng-container>
      
    <!-- Glider Column -->
    <ng-container matColumnDef="glider">
      <th mat-header-cell *matHeaderCellDef>Glider</th>
      <td mat-cell *matCellDef="let feature">{{feature.glider}}</td>
    </ng-container>

  </table>
</mat-radio-group>
