<mat-tab-group>
  <mat-tab label="Kart">
    <app-feature-list [data]="kartFeatureList" hasChoice="false"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Drivers">
    <app-feature-list [data]="driverList" hasChoice="true"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Body">
    <app-feature-list [data]="bodyList" hasChoice="true"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Tires">
    <app-feature-list [data]="tiresList" hasChoice="true"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Glider">
    <app-feature-list [data]="gliderList" hasChoice="true"></app-feature-list>
  </mat-tab>
</mat-tab-group>

