<mat-tab-group>
  <mat-tab label="Kart">
    <app-feature-list [data]="kartFeatureList" areChoosable="false"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Drivers">
    <app-feature-list [data]="driverList"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Body">
    <app-feature-list [data]="bodyList"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Tires">
    <app-feature-list [data]="tiresList"></app-feature-list>
  </mat-tab>
  
  <mat-tab label="Glider">
    <app-feature-list [data]="gliderList"></app-feature-list>
  </mat-tab>
</mat-tab-group>

