.container {
  align-content:   space-around;
  align-items:     center;
  display:         flex;
  flex-direction:  row;
  flex-flow:       row wrap;
  flex-wrap:       wrap;
  justify-content: space-evenly;
}

.highlighted {
  background-color: crimson;;
}

.list-group-item {
  border: 0;
}