<!-- <h2 class="center">Simple kart builder</h2> -->
<div class="center">
    <app-feature-selector class="selector" type="Driver" (newSelection)="onFeatureChange($event)"></app-feature-selector>
    <app-feature-selector class="selector" type="Body"   (newSelection)="onFeatureChange($event)"></app-feature-selector>
    <app-feature-selector class="selector" type="Tires"  (newSelection)="onFeatureChange($event)"></app-feature-selector>
    <app-feature-selector class="selector" type="Glider" (newSelection)="onFeatureChange($event)"></app-feature-selector>
</div>

<mat-tab-group>

    <mat-tab label="Kart">
        <app-kart-tabular [kart]="_kart"></app-kart-tabular>
        <app-kart [kart]="_kart"></app-kart>
    </mat-tab>
    
    <mat-tab label="Drivers">
        <div class="center">
            <app-filter-size (change)="filterDrivers($event)"></app-filter-size>
        </div>
        <app-feature-list
        [data]="featuresList.ofDrivers"
        (newSelection)="onFeatureChange($event)"></app-feature-list>
    </mat-tab>
    
    <mat-tab label="Body">
      <app-feature-list
        [data]="featuresList.ofBodies"
        (newSelection)="onFeatureChange($event)"></app-feature-list>
    </mat-tab>
    
    <mat-tab label="Tires">
      <app-feature-list
        [data]="featuresList.ofTires"
        (newSelection)="onFeatureChange($event)"></app-feature-list>
    </mat-tab>
    
    <mat-tab label="Glider">
      <app-feature-list
        [data]="featuresList.ofGliders"
        (newSelection)="onFeatureChange($event)"></app-feature-list>
    </mat-tab>
    
  </mat-tab-group>
  

<p-chart class="chart" type="horizontalBar" [data]="featureChart" [options]="featureOptions"  [width]="width" [height]="height">Loading?...</p-chart>
<!-- <p-chart class="chart" type="horizontalBar" [data]="kartChart" [options]="kartOptions" [width]="width" [height]="height">Loading?...</p-chart> -->
<p-chart class="chart" type="horizontalBar" [data]="speedChart" [options]="speedOptions" [width]="width" [height]="height">Loading?...</p-chart>
<p-chart class="chart" type="horizontalBar" [data]="handlingChart" [options]="handlingOptions" [width]="width" [height]="height">Loading?...</p-chart>
<!--
<app-kart-tabular [kart]="_kart"></app-kart-tabular>
<app-kart [kart]="_kart"></app-kart>
-->
