<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title>
          <app-feature-slider [name]="name" [value]="_avg.path(path).toFixed(0)"></app-feature-slider>
      </mat-panel-title>

      <mat-panel-description>{{ description }}</mat-panel-description>
    </mat-expansion-panel-header>

    
    <app-feature-slider name="Ground" [value]="path.ground.toFixed(0)"></app-feature-slider>
    <app-feature-slider name="Water" [value]="path.water.toFixed(0)"></app-feature-slider>
    <app-feature-slider name="Air" [value]="path.air.toFixed(0)"></app-feature-slider>
    <app-feature-slider name="Anti-gravity" [value]="path.antiGravity.toFixed(0)"></app-feature-slider>

  </mat-expansion-panel>
</mat-accordion>
