<!-- STATS (begin) -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <!-- SELECT (begin) -->
      <mat-form-field>
        <mat-select placeholder="Drivers" [(value)]="_selectedDriver" (selectionChange)="onDriverChange()">
          <mat-option *ngFor="let driver of _drivers" [(value)]="driver.name">
            {{ driver.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SELECT (end) -->
    </mat-card-title>
    <mat-card-subtitle>{{ _driver.type }} - {{ _driver.size }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="../../../assets/img/drivers/Mario.png" [alt]="_driver.name"> -->
  <mat-card-content>
  <!-- CONTENT (begin) -->
    <!-- LIST (begin) -->
    <mat-list role="list">
      <app-slider name="Average speed (FIX)" value="0"></app-slider>
      <app-slider name="Acceleration" [value]="_driver.acceleration"></app-slider>
      <app-slider name="Weight" [value]="_driver.weight"></app-slider>
      <app-slider name="Average handling (FIX)" value="0"></app-slider>
      <app-slider name="Grid" [value]="_driver.grid"></app-slider>
      <app-slider name="Mini-Turbo" [value]="_driver.miniTurbo"></app-slider>
    </mat-list>
    <!-- LIST (end) -->
  <!-- CONTENT (end) -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!-- STATS (end) -->
<p>Selected: {{ _selectedDriver }}</p>
<pre>{{ _driver | json }}</pre>
