<!-- STATS (begin) -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <!-- SELECT (begin) -->
      <mat-form-field>
        <mat-select placeholder="Drivers" [(value)]="_selectedDriver" (selectionChange)="onDriverChange()">
          <mat-option *ngFor="let driver of _drivers" [(value)]="driver.name">
            {{ driver.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SELECT (end) -->
    </mat-card-title>
    <mat-card-subtitle>{{ _driver.type }} - {{ _driver.size }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="_driver.name" [alt]="_driver.name">
  <mat-card-content>
    <!-- CONTENT (begin) -->

    Average speed
    <br>
    <mat-slider
        class="example-margin"
        disabled
        max="10"
        min="0"
        step=".25"
        thumbLabel
        tickInterval=".25"
        [value]="_driver.acceleration || 0"
        [matBadge]="_driver.acceleration || 0" matBadgePosition="above after" matBadgeOverlap="false">
    </mat-slider>
    Acceleration
    <br>
    <mat-slider
        class="example-margin"
        disabled
        max="10"
        min="0"
        step=".25"
        thumbLabel
        tickInterval=".25"
        [value]="_driver.weight || 0"
        [matBadge]="_driver.weight || 0" matBadgePosition="above after" matBadgeOverlap="false">
    </mat-slider>
    Weight
    <br>
    Average handling
    <br>
    <mat-slider
        class="example-margin"
        disabled
        max="10"
        min="0"
        step=".25"
        thumbLabel
        tickInterval=".25"
        [value]="_driver.grid || 0"
        [matBadge]="_driver.grid || 0" matBadgePosition="above after" matBadgeOverlap="false">
    </mat-slider>
    Grid
    <br>
    <mat-slider
        class="example-margin"
        disabled
        max="10"
        min="0"
        step=".25"
        thumbLabel
        tickInterval=".25"
        [value]="_driver.miniTurbo || 0"
        [matBadge]="_driver.miniTurbo || 0" matBadgePosition="above after" matBadgeOverlap="false">
    </mat-slider>
    Mini-Turbo

    <p>Content</p>
    <!-- CONTENT (end) -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!-- STATS (end) -->
<p>Selected: {{ _selectedDriver }}</p>
<pre>{{ _driver | json }}</pre>
