<!-- STATS (begin) -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <!-- SELECT (begin) -->
      <mat-form-field>
        <mat-select placeholder="Drivers" [(value)]="_selectedDriver" (selectionChange)="onDriverChange()">
          <mat-option *ngFor="let driver of _drivers" [(value)]="driver.name">
            {{ driver.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SELECT (end) -->
    </mat-card-title>
    <mat-card-subtitle>{{ _driver.type }} - {{ _driver.size }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="../../../assets/img/drivers/Mario.png" [alt]="_driver.name"> -->
  <mat-card-content>
  <!-- CONTENT (begin) -->
    <!-- LIST (begin) -->
    <mat-list role="list">
      <!-- Average speed -->
      <mat-list-item role="listitem">
        <h4 mat-line>Average speed</h4>
      </mat-list-item>

      <!-- Acceleration -->
      <mat-list-item role="listitem">
        <h4 mat-line>Acceleration</h4>
        <mat-slider
            class="example-margin"
            disabled
            max="10"
            min="0"
            step=".25"
            thumbLabel
            tickInterval=".25"
            [value]="_driver.weight || 0"
            [matBadge]="_driver.weight || 0" matBadgePosition="above after" matBadgeOverlap="false">
        </mat-slider>
      </mat-list-item>

      <!-- Weight -->
      <mat-list-item role="listitem">
        <h4 mat-line>Weight</h4>
        <mat-slider
          class="example-margin"
          disabled
          max="10"
          min="0"
          step=".25"
          thumbLabel
          tickInterval=".25"
          [value]="_driver.weight || 0"
          [matBadge]="_driver.weight || 0" matBadgePosition="above after" matBadgeOverlap="false">
        </mat-slider>
      </mat-list-item>

      <!-- Average handling -->
      <mat-list-item role="listitem">
        <h4 mat-line>Average handling</h4>
      </mat-list-item>

      <!-- Grid -->
      <mat-list-item role="listitem">
        <h4 mat-line>Grid</h4>
        <mat-slider
          class="example-margin"
          disabled
          max="10"
          min="0"
          step=".25"
          thumbLabel
          tickInterval=".25"
          [value]="_driver.grid || 0"
          [matBadge]="_driver.grid || 0" matBadgePosition="above after" matBadgeOverlap="false">
        </mat-slider>
      </mat-list-item>

      <mat-list-item role="listitem">
        <h4 mat-line>Mini-Turbo</h4>
        <mat-slider
          class="example-margin"
          disabled
          max="10"
          min="0"
          step=".25"
          thumbLabel
          tickInterval=".25"
          [value]="_driver.miniTurbo || 0"
          [matBadge]="_driver.miniTurbo || 0" matBadgePosition="above after" matBadgeOverlap="false">
        </mat-slider>
      </mat-list-item>
    </mat-list>
    <!-- LIST (end) -->

    <p>Content</p>
  <!-- CONTENT (end) -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!-- STATS (end) -->
<p>Selected: {{ _selectedDriver }}</p>
<pre>{{ _driver | json }}</pre>
